.more-link, .CardHeaderDate {
  display: block;
  padding: 10px 15px;
  color: #fff;
  background-color: rgb(236, 0, 0);
  border: none;
  margin-right: 75px;
  width: 150px;
  margin-top: 20px;
  text-decoration: none;
  float: right; 
  text-align: center;
  border: 1px solid transparent;
}

a.more-link span {
    display: none;
}


 .more-link:hover+.CardHeaderDate {
    border: 1px solid rgb(236, 0, 0);
    color: rgb(236, 0, 0);
    background-color: #fff;    
    }



